* text=auto

*.c text eol=lf
*.h text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.bat text eol=crlf
*.txt text eol=lf

*.BMP binary
*.EXE binary
*.MDP binary
*.bmp binary
*.png binary
*.xcf binary

docs/archive/** -whitespace

tests/hitl/fixtures/HITL.IN -text
tests/hitl/fixtures/AUTO.OUT -text
